<div class="comment">
  <p><%= comment.comment %></p>
  <p><%= comment.user %></p>
  <%= link_to 'Delete Reply', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?'} %>

</div>
