/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Styling for Forum home page */
body {
  background: white;
}

#index-top {
  background: white;
  padding: 0px;
  height: 118px;
  .well {
    margin-left: 0px;
    border-radius: 13px;
    height: 80px;

    h1{
      text-align: center;
      margin-bottom: auto;
      margin-top: auto;
      font-weight: 300;
    }
    #quote-1 {
      width: 60px;
      margin-bottom: 7px;
    }
  }

  .form-control {
    margin-left: 10px;
    margin-top: 8px;
    width: 250px;
    height: 43px;
  }
  .btn {
    margin-top: 8px;
    margin-left: 2px;
  }
  .dropdown-toggle {
    background: #F5F5F5;
    margin-top:1px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }
  h4 {
    margin-top: 12px;
    font-weight: 200;
    display: inline;
    font-size: 16px;
  }
  #search-by {
    margin-left:45px;
    padding-right: 45px;
  }

  #new-post {
    text-decoration: none;
    color: black;
  }
  .new-post {
    background: #F5F5F5;
    margin-left: 40px;
    margin-top: 1px;
  }



}




#logo {
  width: 30px;
  display:inline;
}
.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;

}

.main-header {
  background: #EEE;

  width: 80%;
  max-width: 1140px;
  margin: 0 auto;

}

.buttons {
  float:right;
  display:inline;
  padding-bottom: 20px;
}

#buttons {
  float:right;


  li {
    display: inline;
    text-align:right;
  }
}

.comment {
  border-bottom: 1px solid #D1D1D1;
  padding: 2em;
}

h2 {
  text-decoration: none;
}
