<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a id="root-link" class="navbar-brand" href="#">Speakit<%= image_tag "globe-logo.png", :id => "logo" %></a>
    <div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to "Sign in", "/path1"  %></li>
        <li><%= link_to "Sign up", "/path2"  %></li>
        <li><%= link_to "About", "/path3"  %></li>
      </ul>
    </div>
  </div>
</div>
